.table {
    /* Keeps border collapsed, and border moves with sticky header */
    border-collapse: separate;
    border-spacing: 0;

    width: 100%;
    border: 1px solid #ccc;
}

.td, .th {
    border-bottom: 1px solid #ccc;
    padding: 0.25rem;
    text-align: left;
    vertical-align: middle;
}

.th {
    /* Makes the header stick when scrolling */
    position: sticky;
    top: 0;

    /* Adds contrast to the header */
    background: black;
    color: white;
}

/* Highlights row on hover */
tbody .tr:hover {
    background: #eee;
}
